<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="p-5">Together for a healty environment.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 m-auto">
            <ng-lottie class="rounded d-block m-auto img-fluid" [options]="options"></ng-lottie>
        </div>
        <!-- draw a vertical line -->

        <div class="col-12 col-lg-6 m-auto">
            <button class="rounded btn btn-light d-block m-auto mt-5 mb-5 ">hier komt google</button>
        </div>
    </div>
</div>
