<div class="container text-center">
    <h1 class="p-5">Lets set a goal!</h1>
    <div class="row">
        <div class="col-12 col-lg-6">
            <h2 class="mt-5">Current:</h2>
            <p class="emission_number mb-0">{{total_emission}}<span class="emission_metric text-primary">kg CO2</span></p>
            <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                <button *ngIf="lower_percentage == 5" type="button" class="btn btn-primary"
                    (click)="setLowerPercentage(5)">-5%</button>
                <button *ngIf="lower_percentage != 5" type="button" class="btn btn-outline-secondary"
                    (click)="setLowerPercentage(5)">-5%</button>
                <button *ngIf="lower_percentage == 10" type="button" class="btn btn-primary"
                    (click)="setLowerPercentage(10)">-10%</button>
                <button *ngIf="lower_percentage != 10" type="button" class="btn btn-outline-secondary"
                    (click)="setLowerPercentage(10)">-10%</button>
                <button *ngIf="lower_percentage == 20" type="button" class="btn btn-primary"
                    (click)="setLowerPercentage(20)">-20%</button>
                <button *ngIf="lower_percentage != 20" type="button" class="btn btn-outline-secondary"
                    (click)="setLowerPercentage(20)">-20%</button>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <h2 *ngIf="calculated_emission" class="mt-5">Goal:</h2>
            <p *ngIf="calculated_emission" class="emission_number mb-0">{{calculated_emission}}<span
                    class="emission_metric text-primary">kg CO2</span></p>
        </div>
    </div>
    <div class="mt-5">
        <button *ngIf="!submitted" class="button btn btn-lg btn-outline-primary" (click)="saveGoal()">Lets do this! <i
                class="fa-solid fa-arrow-right"></i></button>
        <button *ngIf="submitted" class="button btn btn-lg btn-outline-primary" disabled><i
                class="fas fa-spinner fa-pulse me-2"></i>Loading</button>
    </div>
</div>